@font-face {
  font-family: 'UnifrakturMaguntia';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Unlock';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Unlock/Unlock-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
}

:root {
    --color-text: #c0c0c0;
    --color-text-bright: #ffffff;

    --color-bg: #161312;
    --color-bg-dark: #0c0a09;
    --color-bg-light: #28211f;

    --color-primary: #9a272b;
    --color-primary-dark: #852128;
    --color-primary-light: #b92e35;

    --color-secondary: #33441d;
    --color-secondary-dark: #19220f;
    --color-secondary-light: #36451e;

    --text-2xl: 3.500rem;
    --text-xl: 3.375rem;
    --text-lg: 1.500rem;
    --text-md: 1.000rem;
    --text-sm: 0.875rem;
    --text-xs: 0.750rem;

    --font-decor: "UnifrakturMaguntia", cursive;
    --font-heading: "Unlock", sans-serif;
    --font-body: "Urbanist", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    color: var(--color-text);
    background-color: var(--color-bg);

    font-size: var(--text-md);
    font-family: var(--font-body);
    line-height: var(--text-md-line-height);
}

.bg-normal { background-color: var(--color-bg); }
.bg-dark { background-color: var(--color-bg-dark); }
.bg-light { background-color: var(--color-bg-light); }

.text-normal { color: var(--color-text); }
.text-bright { color: var(--color-text-bright); }
.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }

.text-2xl { font-size: var(--text-2xl); }
.text-xl { font-size: var(--text-xl); }
.text-lg { font-size: var(--text-lg); }
.text-md { font-size: var(--text-md); }
.text-sm { font-size: var(--text-sm); }
.text-xs { font-size: var(--text-xs); }

.font-decor { font-family: var(--font-decor); }
.font-heading { font-family: var(--font-heading); }
.font-body { font-family: var(--font-body); }

.weight-thin { font-weight: lighter; }
.weight-normal { font-weight: normal; }
.weight-bold { font-weight: bold; }

.rounded { border-radius: 16px; }
.rounded-full { border-radius: 50%; }