home-page-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
    width: 100%;
    height: 100vh;
}

home-page-canvas > canvas {
    width: 100%;
    height: 100%;
    filter: blur(0.25rem);
}

.backdrop-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    width: auto;
    height: 40rem;
    max-height: 80vh;

    transform: translateX(-50%) translateY(-50%);
    filter: blur(0.25rem);
}

body {
    background-color: transparent !important;
}

.home-body {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

#hero-section {
    height: calc(80vh - 8rem);
    min-height: fit-content;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.hero-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;;
}

#about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    gap: 2rem;

    padding: 0 2rem;
}

.about-owner-portrait {
    width: 400px;
    max-width: 60vw;
    height: auto;

    border-radius: 2rem 0 2rem 0;
}

.about-content-container {
    width: fit-content;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-paragraph {
    max-width: 400px;
    text-align: justify;
}

#certifications-section {
    padding: 0 2rem;
}

.certificates-grid {
    margin-top: 2rem;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.certificate-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;

    background-color: var(--color-dark);
    border: 1px solid var(--color-primary);

    padding: 1rem;
}

.certificate-icon {
    width: 4rem;
    height: auto;
}

#services-section {
    padding: 0 2rem;
}

.service-card-container {
    margin-top: 2rem;

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    gap: 2rem;
}

.service-card {
    flex-grow: 1;
    max-width: 16rem;
    
    background-color: var(--color-dark);
    
    border-radius: 2rem 0 2rem 0;
    overflow: hidden;
}

.service-card-preview {
    width: 100%;
    height: 8rem;

    background-image: var(--service-card-preview-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service-card-title-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 2rem;
}

.service-card-divider {
    width: 100%;
    border-bottom: 2px solid var(--color-primary);
}

.service-card-content-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 2rem 1rem;
}

.service-card-paragraph {
    text-align: justify;
}

.contact-title-container {
    padding: 0 2rem;
}

.contact-information-container {
    margin: 2rem 2rem 0 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-information-pane {
    color: var(--color-light);
    background-color: var(--color-darker);
    border: 1px solid var(--color-primary);

    padding: 0.5rem 1rem;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    text-decoration: none;
    transition:
        color 150ms ease-in-out 0s,
        background-color 150ms ease-in-out 0s,
        border-color 150ms ease-in-out 0s;
}

.contact-information-pane:hover {
    color: var(--color-lighter);
    background-color: var(--color-mid);
    border-color: var(--color-lighter);
}

.contact-information-icon {
    width: 2rem;
    height: auto;
}